
@import url('https://fonts.googleapis.com/css2?family=Handjet&display=swap');

@font-face {
        font-family: 'Press Start 2P'; 
        src: url('/page.html'); 
      }

body {
  background-image: url(/img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
  }
  
.texto {
  color: rgb(255, 255, 255);
}
  
  .wireframe {
    width: 50%;
    height: 90px;
    border: 4px solid violet;
    margin: 20px auto;
  }

  .formulario-titulo {
    color: white;
  }
  

   
  .wireframe-h3{
    width: 510px;
    height: 510px;
    border: 4px solid violet;
    margin: 20px auto;
  }

      .buscar {
          width: 2000px;
          height: auto;
      }

  
      
  

    
   
  
       .logo {
        width: 150px;
        height: auto;
       background-image: url('primer pre entrega/img/Logo.png'); 
      }

     
      .form-group {
        margin-bottom: 20px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 5px;
      }
      
      textarea {
        height: 100px;
      }
      
      input[type="submit"] {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: #555;
      }
    
      
       .navbar .logo {
        font-family: 'Press Start 2P', Arial, sans-serif; 
       }
     
       .tamaño {
        width: clamp(300px, calc(18.75rem + ((1rw-3.2px) * 8.9286)),400px);
       }

       form {
        margin-top: 20px;
        max-width: 400px;
        margin: 50px;
        padding: 20px;
        border: 10px solid rgb(255, 2, 2)
        border-radius: 5px;
      }
      
      .ubicacion-h2 {
      text-align: left;
      color: white;
      
    }
  
       .contacto-h2 {
      display: flex;
      justify-content: center;
       font-family: 'Handjet', cursive;
       color: white;
    }

    .contact-container {
        display: flex;
        color: rgb(255, 255, 255);
      }

      .map {
        margin: 10px 0 10px 150px; 
      }

      .contact-form {
        margin: 10px 60px 10px 0; 
      }

      .productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .producto {
        width: 30%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }
      

      .carousel-inner img {
        max-height: 1500px; 
      }

      .contacto {
        color: white;
      }

      .titulo-principal {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .titulo-principal h1 {
        margin-bottom: 10px;
    }
    
    .titulo-principal .linea {
        width: 50px;
        height: 3px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
     
      .columna {
        background-color: #4B0082;
        color: white;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
    }
    
    .columna-h2 {
      margin-bottom: 10px;
      width: 90%; 
      margin-left: 10px;
      margin-right: 15px;
    }
    
    .linea {
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 0 auto;
        margin-bottom: 10px;
    }


    .productos-container {
      display: flex;
      flex-wrap: wrap; 
      gap: 20px;
    }

  .fila {
    display: flex;
    flex-basis: calc(33.33% - 20px); 
    gap: 20px;
  } 
  
  .producto {
    border: 1px solid #000;
    padding: 20px;
    width: 100%;
    background-color: white;
    
  }
  
  .producto-inner {
    border: 1px solid #000;
    padding: 20px;
    width: 100%;
  }

    .producto-inner img {
      max-width: 100%;
      height: auto;

}

  .producto h3 {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.producto p {
  font-size: 1.4em; 
  color: #000000; 
  font-weight: bold; 
}

@media (max-width: 768px) {
  .fila {
      flex-basis: 100%; }
  }