
body {
  background-image: url(/img/fondo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

h1 {
    text-align: center;
    color: white;
  }
  
.texto {
  color: rgb(255, 255, 255);
}
  
  .wireframe {
    width: 50%;
    height: 90px;
    border: 4px solid violet;
    margin: 20px auto;
  }
  
  .wireframe-h2{
    width: 50%;
    height: 50px;
    border: 4px solid violet;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
   
  .wireframe-h3{
    width: 510px;
    height: 510px;
    border: 4px solid violet;
    margin: 20px auto;
  }

      .buscar {
          width: 2000px;
          height: auto;
      }

  
       h2 {
         text-align: left;  
         color: white;
       }
  
    .ubicacion h2{
      text-align: left;
      color: white;
    }
    
   
  
       .logo {
        width: 150px;
        height: auto;
       background-image: url('primer pre entrega/img/Logo.png'); 
      }

      form {
        margin-top: 20px;
        max-width: 400px;
        margin: 50px;
        padding: 20px;
        border: 10px solid blueviolet;
        border-radius: 5px;
      }
  
      .form-group {
        margin-bottom: 20px;
      }
      
      label {
        display: block;
        margin-bottom: 5px;
      }
      
      input[type="text"],
      input[type="email"],
      textarea {
        width: 100%;
        padding: 5px;
      }
      
      textarea {
        height: 100px;
      }
      
      input[type="submit"] {
        padding: 10px;
        background-color: #333;
        color: white;
        border: none;
        cursor: pointer;
      }
      
      input[type="submit"]:hover {
        background-color: #555;
      }
    
      @font-face {
        font-family: 'Press Start 2P'; 
        src: url('/page.html'); 
      }
      
      .navbar .logo {
        font-family: 'Press Start 2P', Arial, sans-serif; 
       }
     
       .tamaño {
        width: clamp(300px, calc(18.75rem + ((1rw-3.2px) * 8.9286)),400px);
       }
       
       .contact-container {
        display: flex;
        color: white;
      }

      .map {
        margin: 10px 0 10px 150px; 
      }

      .contact-form {
        margin: 10px 60px 10px 0; 
      }

      .productos-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
      
      .producto {
        width: 30%;
        padding: 10px;
        border: 1px solid #ccc;
        margin-bottom: 10px;
      }
      

      .carousel-inner img {
        max-height: 1500px; 
      }

      .contacto {
        color: white;
      }

      .titulo-principal {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .titulo-principal h1 {
        margin-bottom: 10px;
    }
    
    .titulo-principal .linea {
        width: 50px;
        height: 3px;
        background-color: #ffffff;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    
     
      .columna {
        background-color: #4B0082;
        color: white;
        padding: 20px;
        margin: 10px;
        border-radius: 10px;
        text-align: center;
    }
    
    .columna h2 {
      margin-bottom: 10px;
      width: 90%; 
      margin-left: 10px;
      margin-right: 15px;
    }
    
    .linea {
        width: 30px;
        height: 2px;
        background-color: white;
        margin: 0 auto;
        margin-bottom: 10px;
    }


    .productos-container {
      max-width: 1200px;
      margin: 0 auto;
  }
  
  .fila {
      display: flex;
      justify-content: space-between;
      margin-bottom: 20px;
  }
  
  .producto {
      width: calc(33.33% - 20px);
      background-color: #fefefe;
      border-radius: 10px;
      padding: 20px;
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
      text-align: center;
      border: 2px solid black; 
  }
  
  .producto img {
      max-width: 100%;
      height: auto;
      margin-bottom: 10px;
  }